<?xml version="1.0"?>
<config>
    <sections>
        <payment_services>
            <label>Payment Services</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>450</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <simplepay translate="label" module="simplepay">
                    <label>SimplePay</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <security_sender translate="label">
                            <label>Security Sender</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </security_sender>
                        <transaction_channel translate="label">
                            <label>Transaction Channel</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </transaction_channel>
                        <transaction_mode translate="label">
                            <label>Transaction Mode</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </transaction_mode>
                        <user_login translate="label">
                            <label>User Login</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user_login>
                        <user_pwd translate="label">
                            <label>User Password</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user_pwd>
                        <payment_type translate="label">
                            <label>Payment Type</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_type>
                        <test_mode_flag translate="label">
                            <label>Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test_mode_flag>
                    </fields>
                </simplepay>
            </groups>
        </payment_services>
        <payment>
            <groups>
                <simplepay translate="label">
                    <label>SimplePay</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <brands translate="label">
                            <label>Accepted Brands</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>simplepay/brands</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brands>
                    </fields>
                </simplepay>
            </groups>
        </payment>
    </sections>
</config>
